{% extends 'base.html.twig' %}

{% block body %}

    <div class="Homebar">
        <a>Ubersicht</a>
        {% if not (is_guest is defined) %}<a href="/article/create">Neuer Eintrag</a>{% endif %}
        <a>Impressum</a>
        {% if is_guest is defined %}
            <a href="/login" class="Button">Login</a>
        {% else %}
            <a href="/logout" class="Button">Logout</a>
        {% endif %}
    </div>
    {% block articles %}

    {% endblock %}
{% endblock %}
